bin/clang* filter=lfs diff=lfs merge=lfs -text
bin/llvm* filter=lfs diff=lfs merge=lfs -text
lib64/* filter=lfs diff=lfs merge=lfs -text
lib64/.so filter=lfs diff=lfs merge=lfs -text
lib64/.a filter=lfs diff=lfs merge=lfs -text
bin/* filter=lfs diff=lfs merge=lfs -text
lib/* filter=lfs diff=lfs merge=lfs -text
